<!DOCTYPE html>
<html>
  <head>
    <title>Members Only</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/index.js" defer></script>
  </head>
  <body>
    <header>
      <h1>Members-only</h1>
      <% if(user.canViewMemberOnlyContent) { %>
        <button class="post-message">Post a message</button>
        <dialog>
          <form action="/post" method="POST">
            <label>
              Title 
              <input type="text" name="title" required>
            </label>
            <label>
              Text 
              <textarea name="text"></textarea>
            </label>
            <button value="cancel" formmethod="dialog">Cancel</button>
            <button type="submit">Submit</button>
          </form>
        </dialog>
      <% } %>
    </header>
    <main>
      <% if(!user.canViewMemberOnlyContent) { %>
        <div class="become-member">
          <p>Hey, you're not a member yet!</p>
          <p>Become a member by entering the Secret Code!</p>
          <form action="/become-member" method="POST">
            <input type="text" name="secretCode">
            <button>Become Member!</button>
          </form>
        </div>
      <% } %>

      <div class="messages">
        <% messages.forEach(message => { %>
          <header>
            <h2><%= message.title %></h2>
            <% if(user.canViewMemberOnlyContent) { %>
              <h3>Author: <%= message.author.username %> </h3>
            <% } %>
            <% if(user.canViewMemberOnlyContent) { %>
              <h3>Date: <%= message.createdAt.toString() %> </h3>
            <% } %>
          </header>
          
          <p><%= message.text %></p>
          <% if(user.isAdmin) { %>
            <form action="/delete" method="POST">
              <input type="hidden" value="<%= message.id %>" name="messageid">
              <button>Delete</button>
            </form>
          <% } %>
        <% }) %>
      </div>
    </main>

    <footer>
      <form action="/logout" method="POST">
        <button>Log Out</button>
      </form>
    </footer>
  </body>
</html>
